<a href="https://colab.research.google.com/github/ww-Jing/Algorithmic_Trading/blob/main/Simple_RSI_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
!pip install yfinance

In [53]:
import numpy as np
import pandas as pd 
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## **獲取資料**

In [54]:
end = datetime.now()
start = datetime(end.year -10 , end.month, end.day)

df = yf.download('GOOG', start, end)

[*********************100%***********************]  1 of 1 completed

## **撰寫策略**

In [55]:
def rsi(values, period = 60) : 
  up = values[values > 0 ].mean()
  down = abs(values[values < 0 ]).mean()
  return (up/(up+down) )*100

In [56]:
df['Momentum_1D'] = (df['Close']-df['Close'].shift(1)).fillna(0)
df['RSI'] = df['Momentum_1D'].rolling(center=False, window=60).apply(rsi).fillna(0)
df['Volume_plain'] = df['Volume'].fillna(0)
df.tail(5)

,Open,High,Low,Close,Adj Close,Volume,Momentum_1D,RSI,Volume_plain
Date,,,,,,,,,
2023-03-31,101.709999,104.190002,101.440002,104.000000,104.000000,28086500,2.680000,53.381247,28086500
2023-04-03,102.669998,104.949997,102.379997,104.910004,104.910004,20719900,0.910004,53.051308,20719900
2023-04-04,104.839996,106.099998,104.599998,105.120003,105.120003,20377200,0.209999,52.599941,20377200
2023-04-05,106.120003,106.540001,104.101997,104.949997,104.949997,21864200,-0.170006,53.934422,21864200
2023-04-06,105.769997,109.629997,104.815002,108.900002,108.900002,34684200,3.950005,55.259491,34684200

In [57]:
#策略：： RSI14 < 40 買進，，RSI > 60 賣出
rsi = df['RSI'].tolist()
#訊號標籤
sig = []
stock = 0 

#偵測訊號
for i in range(len(rsi)):
  if rsi[i] > 60 and stock == 1 :
    stock -= 1 
    sig.append(-1)
  elif rsi[i] < 40 and stock == 0:
    stock += 1 
    sig.append(1)
  else: 
    sig.append(0)

## **計算報酬**

In [60]:
price = df['Close'].to_numpy()

rets = []
stock = 0 
buy_price = 0
sell_price = 0

for j in range(len(sig)):
  if sig[j] == 1 : 
    buy_price = price[j+1]
    rets.append((sell_price - buy_price) / buy_price)
  elif sig[j] == -1 :
    sell_price = price[j+1]
    rets.append((sell_price - buy_price) / buy_price)
rets = np.delete(rets,[0])

total_ret = 1
for k in range(len(rets)):
  total_ret *= 1 + rets[k]

print('Return : {} %'.format(round((total_ret-1)*100,4)))

Return : 194.5731 %